* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #33425c;
  font-family: "Open Sans", serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #31333A #33425c #62676f*/
